@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    font-weight: 600;
    border-radius: 0;
}

body{
    background-color:#3D3B3C ;
}

.box-container{
    background-color: #fff;
    display: block;
    width: 75%;
    height: 600px;
    margin: 150px auto 0;
    text-align: center;
    border-radius: 8px;
    box-shadow: 1px 1px 8px #000000;
}

.box-container img{
    padding-top: 56px;
    width: 128px;
    border-radius: 25%;
}

.box-container h2{
    
}

.login-area{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-top: 154px;
}

.username label{
    font-size: 16px;
    margin-right: 100px;
}

.username input[type="text"]{
    border: 1px solid #000000ac;
    border-radius: 3px;
    margin-left: 6px;
    margin-top: 6px;
    height: 20px;
}

.password label{
    font-size: 16px;
    margin-right: 100px;
}

.password input[type="text"]{
    border: 1px solid #000000ac;
    border-radius: 3px;
    margin-left: 6px;
    margin-top: 6px;
    height: 20px;
}

.forget{
    text-align: right;
    margin:14px 32px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.forget a{
    text-decoration: none;
    color: #000000;
}

.forget a:hover{
    text-decoration: underline;
}

.login-button{
    margin-top: 24px;
}

.login-button input[type="button"]{
    height: 40px;
    width: 128px;
    border: 1px solid #000;
    padding: 8px;
    border-radius: 2px;
    letter-spacing: 1px;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.login-button input[type="button"]:hover{
    background-color: #2ABF7A;
    cursor: pointer;
}

footer img{
    height: 20px;
    width: auto;
    display: block;
    margin: 0 auto;
    margin-top: 163px;
    margin-bottom: 20px;
}

@media (min-width: 720px){
    .box-container{
        width: 600px;
        height: 600px;
        position: relative;
    }
    
    .left-720px{
        text-align: left;
        padding-left: 20%;
    }

    .username input[type="text"]{
        width: 75%;
    }

    .password input[type="text"]{
        width: 75%;
    }

    .login-button input[type="button"]{
        text-align: center;
    }
}