@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    border-radius: 0;
}

body{
    background-color:#3D3B3C ;
}

.box-container{
    background-color: #fff;
    display: block;
    width: 75%;
    height: 450px;
    margin: 200px auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 4px 4px 16px #000000;
}

.login-area{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
    padding-top: 275px;
}

.username label{
    font-size: 0.9em;
}

.username input[type="text"]{
    border: 1px solid #000000ac;
    border-radius: 3px;
    margin-left: 6px;
    margin-top: 6px;
    height: 20px;
}

.password label{
    font-size: 0.9em;
}

.password input[type="text"]{
    border: 1px solid #000000ac;
    border-radius: 3px;
    margin-left: 6px;
    margin-top: 6px;
    height: 20px;
}

footer img{
    height: 20px;
    width: auto;
    display: block;
    margin: 0 auto;
    padding-top: 63px;
    padding-bottom: 20px;
}