@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap');

$white: #fff;
$black: #000;
$red: #f00;
$blue: #00f;
$green: #080;
$brandColor:#2ABF7A;
$bgColor:#3D3B3C;

*{
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 1em;
    border-radius: 0;
}

body{
    background-color:$bgColor ;
}

header{
    button{
        position: absolute;
        right: 1.1rem;
        top: 1rem;

        border: 1px solid $brandColor;
        border-radius: 4px;

        color: $white;
        background-color: $brandColor;

        padding: 4px;
        transition: .4s;

        &:hover{
            background-color: #2abf79a3;
            border-color: #2abf79a3;
            cursor: pointer;
        }
    }
}

section.welcome h1{
    text-align: center;
    font-size: 16px;
    color: $white;
    margin-top: 0.9rem;
    padding-bottom: 1.5rem;
}

section.welcome img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: block;
    margin: 2rem auto 0 auto;
}

.loginModal{
    display: none;
    align-items: center;
    justify-content: center;

    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    transition: .4s;


    span{
        color: #aaaaaa;
        align-self: flex-end;
        font-size: 28px;
        font-weight: bold;
        transition: .4s;

        &:hover, &:focus{
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .container{
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        gap: 16px;

        width: 60%;
        max-width: 500px;

        margin: 240px auto;
        padding: 32px 64px;
    
        background-color: $white;

        h1{
            text-align: center;
            font-size: 1.2em;
        }

        p{
            margin-right: 1rem;
        }
        
        .colorPicker{
            display: flex;
            justify-content: center;
            align-self: center;
        
            width: 30px;
            height: 30px;
        
            background-color: transparent;
            border-radius: 100px;
        
            cursor: pointer;
        }
    }

    form{
        display: flex;
        flex-direction: column;
    
        width: 60%;
        max-width: 500px;
    
        margin: 240px auto;
        padding: 32px 64px;
    
        background-color: $white;
    }
    
    form img{
        display: block;
        margin: 0 auto;
    
        width: 128px;
    }
    
    #alert{
        margin: 16px 0;
        text-align: center;
        color: $red;
        transition: .2s ease-in;
    }
    
    .input{
        margin-bottom: 24px;
        position: relative;
        height: auto;
    }

    .input i{
        display: none;
        position: absolute;
        top: 30%;
        right: 0;

        &:hover{
            cursor: pointer;
        }
    }

    input::-ms-reveal, input::-ms-clear {
        display: none;
    }
    
    #email, #password, button{
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    
        width: 100%;
    
        padding: 16px 0;
    
        border: none;
        border-bottom: 1px solid $black;
    
        background-color: transparent;
    
        outline: none;
    
        color: $black;
        font-size: 1em;
    }
    
    input ~ label{
        position: absolute;
        top: 16px;
        left: 0;
    
        color: $black;
    
        transition: .4s;
    }
    
    input:focus ~ label{
        font-size: 0.8em;
        letter-spacing: 0.1em;
    }
    
    #sizePassword{
        color: $red;
    
        width: 75%;
    
        font-size: 12px;
        text-align: right;
    
        margin: 0.5rem 0 0 2.5rem;
    }
    
    button{
        display: block;
        margin: 0 auto;
    
        font-family: 'Karla', sans-serif;
        height: 40px;
        width: 128px;
    
        border: 1px solid $black;
        background-color: $brandColor;
    
        padding: 8px;
    
        transition: .5s;

        &:hover{
            filter: brightness(90%);
            cursor: pointer;
        }
    }
}

.container-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    margin: 12px;

    a{
        width: 100%;
        max-width: 680px;
        height: 60px;

        .link{
            width: 100%;
            height: 100%;
            border: 2px solid $white;
            transition: .2s;
            
            &:hover{
                background-color: transparent;
                color: $white;
                cursor: pointer;
            }
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 130px;

    img{
        height: 20px;
    }
}

